.card-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px;
  justify-items: center;
  align-items: center;
  min-height: 100vh; /* Para centrar verticalmente el spinner */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

p-progressSpinner {
  margin: 0 auto;
}

.card {
  width: 250px;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  background: #fff;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(255, 255, 255, 0.6);
  filter: brightness(1.2);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 20px;
  position: relative;
  min-height: 300px; /* Para asegurar que el spinner se centre verticalmente */
}

.modal-content .loading-spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.5);
}

.modal-card-img {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card-details {
  max-width: 400px;
  width: 100%;
  padding: 10px;
}

.card-details p {
  margin: 10px 0;
  font-size: 16px;
}

p-dialog .ui-dialog {
  width: 90vw !important;
  max-height: 90vh;
  top: 5vh;
  left: 5vw;
  transform: none;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  p-dialog .ui-dialog {
    width: 60vw !important;
    height: auto;
    max-height: 80vh;
    top: 10vh;
    left: 20vw;
    padding: 20px;
    box-sizing: border-box;
  }

  .modal-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-card-img {
    width: 300px;
    height: 420px;
  }

  .card-details {
    max-width: 400px;
    padding: 20px;
  }

  .card-details p {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 430px) {
  .card {
    width: 100%;
    height: auto;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
  }

  .modal-card-img {
    width: 100%;
    height: auto;
  }

  .card-details {
    width: 100%;
    padding: 10px;
  }

  p-dialog .ui-dialog {
    width: 100% !important;
    max-height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    padding: 10px;
    overflow: auto;
  }
}
